/* p{
    font-size: 36px;
    color: blue;
} */

#elemento1{
    color: blue;
}

.caja-elemento1{
    color: red !important;
}

p{
    color: brown;
    font-size: 22px;
}

p{
    color: green;
    font-size: 36px;
}

p{
    color: moccasin;
    font-size: 10px;
}