// CONFIG COLOR
@function configurar-color-texto($color-texto){
    @if (lightness($color-texto) > 50){
        @return #000;
    }@else{
        @return #fff;
    }
}

@mixin transform($propiedad){
    transform: $propiedad;
    --webkit-transform: $propiedad;
    -ms-transform: $propiedad;
}