@import 'variables';
@import 'functions';
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-oscuro;
    color: $color-claro; 
    font-family: $fuente-defecto;
    line-height: 1.6;
}

header{
    background-color: $color-oscuro;
    // color: $color-oscuro;
    color: configurar-color-texto($color-oscuro);
    padding: 1rem;

    h1{
        text-align: center;
        text-decoration: underline;
    }
}

.article{
    padding: 4rem;

    h3{
        font-size: 2rem;
    }

    p{
        font-size: 1.2rem;
    }

    &-a{
        background-color: $color-primario;
    }
    &-b{
        background-color: darkorange;
    }

    // a{
    //     color: $color-claro;
    //     &:hover{
    //         color: darkblue;
    //     }
    // }

    // HERENCIA
    %btn-general{
        display: inline-block;
        padding: 0.8rem 2rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
        margin: 1rem 2rem;
    }
    .btn{
        &-claro{
            @extend %btn-general;
            background-color: #cccccc;
        }

        &-oscuro{
            @extend %btn-general;
            background-color: black;
            &:hover{
                @include transform(rotate(90deg));
            }
        }
    }
}

