body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h1{
    text-align: center;
    color: black;
}

.container{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div{
    background-color: brown;
    margin: 5px;
    border: 1px solid white;
}

div:nth-child(1){
    flex-grow: 3;
}

div:nth-child(2){
    flex-grow: 5;
}

div:nth-child(3){
    flex-grow: 1;
}

/* .navbar{
    background-color: brown;
    margin: 0;
    padding: 0 10px;
    max-width: 200px;
    flex-grow: 8;
}

p{
    background-color: chocolate;
    margin: 0;
    padding: 0 10px;
    width: 600px;
    max-width: 700px;
    flex-grow: 1;
} */